.hero {
  width: 100%;
  height: 100%;

  &__container {
    width: 100%;
    height: 60rem;

    display: flex;
    align-items: center;

    @include breakpoint($max, $tablet-sm) {
      padding: 0 2.4rem 7.2rem 3.3rem;
    }

    @include breakpoint($max, $phone) {
      height: 41.9rem;
    }

    @include breakpoint($min, $phone + 1) {
      padding: 0;
    }

    &--large {
      background-color: black;
      height: 65rem;

      @include breakpoint($max, $phone) {
        height: 41.9rem;
      }
    }
  }

  &__wrapper {
    position: relative;

    @include breakpoint($min, $phone + 1) {
      max-width: 38.7rem;
      margin: 0 auto;
    }
  }

  &__content {
    width: 100%;
    color: $black;
    position: relative;

    @include breakpoint($max, $phone) {
      height: 100%;
      padding-top: 8rem;
    }

    @include breakpoint($min, $phone + 1) {
      padding: 0 2.4rem;
    }

    &--initial {
      color: $white;

      &::before {
        content: '';
        height: 100%;
        width: 6px;
        @include gradient(top);
        position: absolute;
        left: 0;

        @include breakpoint($max, $phone) {
          width: 12.8rem;
          height: 6px;
          @include gradient(right);
          top: 0;
        }
      }
    }
  }

  &__title {
    @include breakpoint($min, $phone + 1) {
      max-width: 38.7rem;
    }

    @include breakpoint($max, $tablet - 1) {
      font-size: 3.2rem;
      line-height: 4rem;
      letter-spacing: 3.33px;
    }
  }

  &__description {
    padding: 1.3rem 0 5.3rem 0;

    @include breakpoint($min, $phone + 1) {
      max-width: 38.7rem;
    }
  }

  &__title,
  &__description,
  &__cta {
    margin: 0 auto;
  }

  &__cta {
    width: 100%;
    max-width: 100%;
    display: flex;

    @include breakpoint($min, $phone + 1) {
      max-width: 38.7rem;
    }
  }

  &__image {
    height: 60rem;

    @include breakpoint($max, $phone) {
      height: 27.1rem;
    }

    &--large {
      height: 65rem;

      @include breakpoint($max, $phone) {
        height: 29.4rem;
      }
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include breakpoint($max, $phone) {
        object-position: top;
      }
    }
  }
}
