.hero {
  width: 100%;
  height: 100%;

  &__container {
    height: 100%;
    background-color: black;
    position: relative;
  }

  &__wrapper {
    &::before {
      content: '';
      height: 100%;
      width: 6px;
      @include gradient(top);
      position: absolute;
      left: 0;

      @include breakpoint($max, $phone) {
        top: -54px;
        left: 94.5px;
        width: 128px;
        height: 6px;
        @include gradient(right);
      }
    }
  }

  &__content {
    width: 100%;
    color: $black;
    @include absolute-center;
    padding: 0 2rem;

    &--initial {
      color: $white;
    }
  }

  &__title {
    max-width: 38.7rem;
    margin: 0 auto;
  }

  &__description {
    max-width: 38.7rem;
    margin: 0 auto;
    color: $lightgrey;
    padding: 1rem 0 5rem 0;
  }

  &__cta {
    max-width: 38.7rem;
    margin: 0 auto;
    display: flex;
  }

  &__image {
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include breakpoint($max, $phone) {
        object-position: top;
      }
    }
  }
}
