.header {
  width: 100%;
  height: auto;
  padding: 0 2.4rem;
  background-color: white;

  &__logo {
    display: inline;
    height: 16px;
    cursor: pointer;
  }

  &__container {
    width: 100%;
    height: 100%;

    &--desktop {
      width: 100%;
      height: 7.2rem;
      background-color: white;
      position: relative;
      z-index: 10;

      @include flex(space-between, center);
    }

    &--mobile {
      display: block;
      background: white;
      width: 100%;
      height: 25.3rem;
      padding: 3.2rem;
      position: absolute;
      left: 0;
      z-index: 5;
      transform: translateY(-32.5rem);
      transition: transform 0.2s ease-in;

      &.open {
        transition: transform 0.5s ease-in 0.2s;
        transform: translateY(0);
      }

      @include breakpoint($min, $tablet) {
        display: none;
      }
    }
  }

  // desktop cta button styles
  & .cta {
    display: none;

    @include breakpoint($min, $tablet) {
      display: block;
    }
  }

  &__nav {
    &--desktop {
      width: 267px;
      margin: 0 5px;

      @include breakpoint($max, $tablet - 1) {
        display: none;
      }
    }

    &--mobile {
      @include flex(center, center, column);
      gap: 2rem;

      & nav ul li {
        width: 100%;
        height: 2rem;
        max-width: 31rem;
        margin: 0 auto;

        @include flex(center, center);

        & a {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }

      & nav ul li:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      & .divider {
        width: 100%;
        max-width: 31rem;
        height: 1px;
        background-color: black;
        opacity: 0.25;
      }

      & .cta {
        width: 100%;
        max-width: 31rem;
        display: block;

        @include breakpoint($min, $tablet) {
          display: none;
        }
      }
    }
  }
}

// MOBILE MENU
.menu {
  width: 2rem;
  height: 2rem;
  position: relative;
  outline: none;
  @include flex(center, center);

  &.open {
    & .menu__container {
      animation: spin 0.5s ease-in 0.2s;

      &::before {
        top: 3px;
        transform: rotate(-45deg);
      }

      &::after {
        bottom: 2px;
        transform: rotate(45deg);
      }
    }
  }

  &__button {
    width: 2rem;
    height: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }

  &__container {
    width: 2rem;
    height: 6px;
    position: relative;
    transition: all 0.3s linear;

    &::before {
      content: '';
      width: 2rem;
      height: 1px;
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;

      transition: transform 0.2s ease-in-out;
    }

    &::after {
      content: '';
      width: 2rem;
      height: 1px;
      background-color: black;
      position: absolute;
      bottom: 0px;
      left: 0;

      transition: transform 0.2s ease-in-out;
    }
  }

  @include breakpoint($min, $tablet) {
    display: none;
  }
}
