.button {
  outline: none;
  border: none;
  cursor: pointer;

  &__square {
    width: 158px;
    height: 40px;

    &--white {
      background-color: white;
      color: black;
    }

    &--black {
      background-color: black;
      color: white;
    }
  }

  &__link {
    width: 128.86px;
    height: 16px;
    font-size: 12px;
    font-weight: bold;

    &--white {
      color: white;
    }

    &--black {
      color: black;
    }
  }
}
