.header {
  width: 100%;
  height: 72px;
  background-color: white;
  padding: 0 10px;

  &__logo {
    height: 16px;
  }

  & .layout-wrapper {
    @include flex(space-between, center);
  }

  &__nav {
    width: 267px;
    margin: 0 5px;
  }
}
