/*=========================================================
                        MIXINS
=========================================================*/

@mixin flex($justify, $align, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin gradient($direction: right) {
  background-image: linear-gradient(to $direction, #ffc593, #bc7198, #5a77ff);
}

/*=========================================================
                        DEVICE SCREENSIZE
=========================================================*/

// SCREEN SIZES
$desktop-lg: 1441;
$desktop: 1440;
$desktop-sm: 1200;

$tablet-lg: 1000;
$tablet: 768;
$tablet-sm: 700;

$phone: 580;
$phone-sm: 375;

// MEDIA QUERY VALUES
$min: min-width;
$max: max-width;

@mixin breakpoint($media-size: $max, $screen-size) {
  @if $media-size == $min {
    @media ($min: $screen-size + 'px') {
      @content;
    }
  } @else {
    @media ($max: $screen-size + 'px') {
      @content;
    }
  }
}

/*=========================================================
                        ANIMATIONS
=========================================================*/

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
