.heading {
  font-weight: bold;
  text-transform: uppercase;

  &--lg {
    @extend .heading;
    font-size: 4rem;
    line-height: 4.9rem;
    letter-spacing: 4.17px;

    @include breakpoint($max, $tablet-sm) {
      font-size: 3.2rem;
      line-height: 4rem;
    }
  }
  &--md {
    @extend .heading;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-transform: none;
  }
  &--sm {
    @extend .heading;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 1.776px;
  }
}

.text {
  &__small {
    font-size: 1.3rem;

    &--white {
      @extend .text__small;
      color: $white;
    }
    &--black {
      @extend .text__small;
      color: $black;
    }
  }

  &__normal {
    font-size: 1.5rem;
    opacity: 0.6;
    line-height: 1.65;

    &--white {
      @extend .text__normal;
      color: $white;
    }
    &--black {
      @extend .text__normal;
      color: $black;
    }
  }
}
