.hero2 {
  width: 100%;
  height: 65rem;

  background: url('../../assets/stories/desktop/moon-of-appalacia.jpg') no-repeat
    center / cover;

  &__container {
    width: 100%;
    max-width: 38.7rem;
    color: white;
  }

  &__caption {
  }

  &__title {
  }

  &__subtitle {
  }

  &__discription {
  }

  &__link {
  }
}
